<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table class="table">
            <tr>
                <th>Item Name</th>
                <th>Shop Name</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                <th>Remove</th>
            </tr>
            <% 
            if(cartItems!=null)
            {
                let total = 0;

                cartItems.forEach(item => {
            %>
            <tr class="cart-item">
                <td><%= item.itemName%></td>
                <td><%= item.name%></td>
                <td><button class="increase">+</button><span class="quantity"><%= item.quantity %></span><button class="decrease">-</button></td>
                <td><%= item.price %></td>
                <td><%= parseFloat(item.quantity) * parseFloat(item.price) %></td>
                <td>
                    <form action="/user/cart/delete/<%=item.itemId%>?_method=DELETE" method="POST">
                    <input type="submit" value="Remove">
                    </form>
                </td>
                
            </tr>
            <%
                    total += parseFloat(item.quantity) * parseFloat(item.price);
                })
            %>
            <tr>
                <td colspan="3" aling="right"><b>Total</b></td>
                <td><%= total %></td>
                <td>&nbsp;</td>
            </tr>
               
                
            <%
            }
            else
            {
            %>

            <tr>
                <td colspan="5" align="center">No Item Found in Cart</td>
            </tr>

            <%
            }
            %>
       
    </table>
    <%if(cartItems!=null)
    {%>
    <div>
        <form action="/user/order" method="post">
            <input type="submit" value="Order">
        </form>
    </div>
     <%}%>
    </div>
    
    <script>
    document.querySelectorAll('.cart-item').forEach((item) => {
    const quantityElement = item.querySelector('.quantity');
    const increaseButton = item.querySelector('.increase');
    const decreaseButton = item.querySelector('.decrease');

    increaseButton.addEventListener('click', () => {
      const currentQuantity = parseInt(quantityElement.textContent);
      quantityElement.textContent = currentQuantity + 1;
      updateDatabase(item.dataset.itemId, currentQuantity + 1);
    });

    decreaseButton.addEventListener('click', () => {
      const currentQuantity = parseInt(quantityElement.textContent);
      if (currentQuantity > 0) {
        quantityElement.textContent = currentQuantity - 1;
        updateDatabase(item.dataset.itemId, currentQuantity - 1);
      }
    });
  });
    </script>
</body>
</html>