<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table class="table">
            <tr>
                <th>Event Name</th>
                <th>Organiztion Name</th>
                <th>Category</th>
                <th>City</th>
                <th>Tickets</th>
                <th>Total amount</th>
                <th>Reservation Time </th>
            </tr>
            <% 
            if(reserve!=null)
            {
                let total = 0;

                reserve.forEach(item => {
            %>
            <tr class="order-item"> 
                <td><%= item.eventName%></td>
                <td><%= item.org%></td>
                <td><%= item.name %></td>
                <td><%= item.cityName %></td>
                <td><%= item.ticket_quantity%></td>
                <td><%= item.total_amount %></td>
                <td><%=item.reservationTime%></td>
            </tr>
           
            
               
                
            <%
            });
             }
            else
            {
            %>

            <tr>
                <td colspan="5" align="center">No Reservation yet</td>
            </tr>

            <%
            }
            %>
       
    </table>
    
    </div>
</body>
</html>