<h1>view item</h1>
<ul>
  <% for (let i = 0; i < items.length; i++) { %>
  <li>
    Item Name: <%= items[i].itemName %><br />
    Price: <%= items[i].price %><br />
    Category: <%= items[i].category %>
  </li>
  <a href="/seller/items/update/<%= items[i].itemId %>">Update</a>
  <form
    method="POST"
    action="/seller/items/delete/<%= items[i].itemId%>?_method=DELETE"
  >
    <button type="submit">Delete</button>
  </form>

  <% } %>
</ul>
