<h1>update item</h1>

<!-- updateItem.ejs -->
<form
  action="/org/events/update/<%= event.eventId %>?_method=PUT"
  method="POST" onsubmit="return validateTickets()"
>
  <label for="eventName">Event Name:</label>
  <input
    type="text"
    id="eventName"
    name="eventName"
    value="<%= event.eventName %>"
  required/>
  <label for="price">Price:</label>
  <input type="text" id="price" name="price" value="<%= event.price %>" required/>

  <label for="orgid">Organization ID:</label>
  <input
    type="text"
    id="orgid"
    name="orgId"
    value="<%= session.organization.orgID %>"
    readonly
  />

  <label for="category">Category:</label>
  <select id="category" name="category" required>
    <% categories.forEach(category => { %>
    <option value="<%= category.categoryID %>" <%= event.categoryId === category.categoryID ? 'selected' : '' %> ><%= category.name %></option>
    <% }); %>
  </select>

  <label for="city">City:</label>
  <select id="city" name="cityId" required>
    <% cities.forEach(city => { %>
    <option value="<%= city.cityId %>" <%= event.cityCode === city.cityId ? 'selected' : '' %>><%= city.cityName %></option>
    <% }); %>
  </select>

  <label for="TotalTickets">Total Tickets:</label>
  <input type="number" id="TotalTickets" name="TotalTickets" value="<%= event.TotalTickets %>"/>

  <label for="RemainingTickets">Remaining Tickets:</label>
  <input type="number" id="RemainingTickets" name="RemainingTickets" value="<%= event.RemainingTickets %>" />

  <label for="eventDate">Event Date:</label>
  <input type="date" id="eventDate" name="eventDate" value="<%= event.eventDate %>"/>

  <label for="eventTime">Event Time:</label>
  <input type="time" id="eventTime" name="eventTime" value="<%= event.eventTime %>"/>

  <label for="Description">Description:</label>
<textarea id="Description" name="Description" required><%= event.Description %></textarea>



  <!-- Add other fields as needed -->
  <button type="submit">Update</button>
</form>

<script>
  function validateTickets() {
    const totalTickets = parseInt(
      document.getElementById("TotalTickets").value
    );
    const remainingTickets = parseInt(
      document.getElementById("RemainingTickets").value
    );

    if (
      isNaN(totalTickets) ||
      isNaN(remainingTickets) ||
      remainingTickets > totalTickets || totalTickets < 0 ||
      remainingTickets < 0
    ) {
      alert("Remaining Tickets should be less than or equal to Total Tickets.");
      return false;
    }

    return true;
  }
</script>