<h1>Events</h1>
<ul>
  <% for (let i = 0; i < events.length; i++) { %>
  <li>
    Event Name: <%= events[i].eventName %><br />
    Price: <%= events[i].price %><br />
    Category: <%= events[i].categoryId %> Status: <%= events[i].status %>
  </li>
  <%if(events[i].status!="Closed"&&events[i].status!="cancel"){%>
  <a href="/org/events/update/<%= events[i].eventId %>">Update</a>
  <form
    method="POST"
    action="/org/events/cancel/<%= events[i].eventId %>?_method=DELETE"
  >
    <button type="submit">Cancel</button>
  </form>

  <%}} %>
</ul>
